/*Color set*/
$green:#24a07c;
$red:#e10500;
$grey:#999;
$orange:#ff7800;
$black:#666;

@mixin  flexContainers($direction) {
    display: flex;
    flex-direction: $direction;
}
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  width: 100%;
  background: #1abc9c;
  text-align:end;
  ul {
    margin: 0;
    padding: 0;
    li {
        color: white;
        letter-spacing: 3px;
        }
    }
    .prev {
        float: left;
        padding-top: 10px;
        }
    .next {
    float: right;
    padding-top: 10px;
    }

}

.weekdays-top {
  margin: 0;
  padding: 10px 0;
  // background-color: #ddd;
  overflow: hidden; /* 超過範圍隱藏 */
  white-space: nowrap; /* 不斷行 */
  background-color:rgb(243, 245, 149);
  li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
    // border: 1px solid darkgreen;
  }

}


.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  overflow: hidden; /* 超過範圍隱藏 */
  
  li {
    list-style-type: none;
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 5px;
    color: #777;
    .active {
        padding: 5px;
        background: #1abc9c;
        color: white !important
      }
  }
}

.search{
    color: crimson;
}
/* Add media queries for smaller screens */
// @media screen and (max-width:720px) {
//  .weekdays li, .days li {width: 13.1%;}
// }

@media screen and (max-width: 420px) {
  .weekdays-top li, .days li{
    width: 26%;
  }
  .days li .active {padding: 2px;}
}

// @media screen and (max-width: 290px) {
//   .weekdays li, .days li {width: 12.2%;}
// }
