@charset "UTF-8";
/*Color set*/
body {
  margin: 0;
}

ul {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border: 1px #eeecec solid;
  width: 100%;
}

table th,
table td {
  width: 12.5%;
  text-align: center;
  height: auto;
  outline: 1px #dad8d8 solid;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

table th {
  background-color: #eeecec;
  color: #3d3b3b;
  padding: 0.8rem 0.5rem;
}

table td {
  padding: 0;
}

/*跨年分*/
.remove-padding {
  padding: 0 0.5rem;
}

.fix-padding {
  padding: 0.3rem 0.5rem;
}

.contain-year-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contain-year-container .contain-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contain-year-container .contain-year .year {
  font-weight: 700;
  color: #24a07c;
  font-size: 0.9rem;
}

/*最低價*/
.contain-cheapest-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contain-cheapest-container .contain-cheapest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  white-space: nowrap;
}

.contain-cheapest-container .contain-cheapest .cheapest-trangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.7rem 1.7rem 0 0;
  border-color: #ff7800 transparent transparent transparent;
}

/*去程回程*/
.ticket-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ticket-type .ticket-type-arrive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: rows;
          flex-direction: rows;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.ticket-type .ticket-type-departure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: rows;
          flex-direction: rows;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

/*價格*/
.days-up {
  cursor: pointer;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-weight: 900;
  color: #3d3b3b;
}

.days-up::after {
  font-weight: 900;
  content: ' 起';
  font-size: 0.9rem;
  color: #666;
}

/*查看*/
.search {
  color: #666;
  cursor: pointer;
}

/*低價月曆*/
.price-toggle-container {
  width: 100%;
  text-align: center;
}

#price-toggle {
  text-align: right;
  background-color: #eeecec;
  color: #008cff;
  border-bottom: 2px solid white;
}

#price-toggle::before {
  content: '';
  background-image: url("../img/calendar.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position-y: 5px;
}

#price-toggle::after {
  content: '▲';
}

.selected-siblings {
  background-color: rgba(218, 216, 216, 0.2);
}

.selected {
  outline: 1px solid #ff7800;
  background-color: rgba(255, 166, 0, 0.1);
}

@media (max-width: 900px) {
  .table-container {
    overflow-x: scroll;
    overflow-y: visible;
    padding: 0;
    /*待計算*/
  }
  .table-container .carousel-btn {
    height: 2.8rem;
    width: 1.3rem;
    background-color: #666;
    opacity: 0.5;
    position: absolute;
    top: calc(50% - 2.8rem);
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-weight: 900;
    cursor: pointer;
  }
  .table-container .carousel-btn-prev .prev-btn::after {
    font-weight: 900;
    content: url("../img/prev-btn.svg");
  }
  .table-container .carousel-btn-next .next-btn::after {
    content: url("../img/next-btn.svg");
  }
  table {
    table-layout: auto;
    width: 133%;
    /*待計算 */
  }
  table th,
  table td {
    overflow: hidden;
  }
  table .first-col {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/
  }
}
/*# sourceMappingURL=style.css.map */